body {
  background-size: cover;
  background-image: url("../../images/indexBackground.png");
  background-repeat: no-repeat;
}

.loginBody {
  display: flex;
  flex-direction: column;
  padding: 5rem;
}
