@import "../../sass/variables.scss";

.card {
  width: 100%;
  height: 100%;
  .card-img-cointainer {
    object-fit: cover;
    max-height: 40%;
  }
  .card-img-top {
    height: 100%;
  }
  .card-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: $main-font;
  }

  .card-text {
    overflow: auto;
    height: 100%;
  }

  .linkToGame {
    width: 100%;
    height: 100%;
    padding: 0.2rem;
    border: 0.15rem solid red;
    border-radius: 0.3rem;
    text-decoration: none;
    color: red;
    font-weight: bold;

    &:hover {
      color: #2c2b39;
      border-color: #2c2b39;
      cursor: pointer;
    }
  }
}
