@import "../../sass/variables.scss";

.card {
  background-color: #2c2b39;
  color: white;
  border-radius: 1.5rem;
  hr {
    width: 80%;
    margin: 0 auto;
    height: 0.1rem;
  }
}

.card-header {
  background-color: #2c2b39;
  margin: 2rem;
  font-family: $main-font;
  font-size: 2em;
  line-height: 2em;
  text-align: center;
}

.card-body {
  background-color: #2c2b39;
  padding: 2rem;
  font-family: $main-font;
  font-size: 20px;
  line-height: 23px;
  form {
    display: flex;
    flex-direction: column;
    button {
      font-size: 1.5rem;
      line-height: 23px;
      text-align: center;
      margin: 1rem auto;
      width: 50%;
    }
    .buttonRegister {
      background-color: #ff5c00;
    }
    p {
      margin: 0;
      text-align: center;
    }
    a {
      color: #d25555;
      text-decoration: none;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
    }
  }
}
