@import "../../../sass/variables.scss";

.descriptionCard {
  font-family: $main-font;

  .card-title {
    font-size: 2em;
    font-weight: bold;
  }

  .tagContainer {
    display: flex;
    gap: 1rem;

    .badge {
      padding: 0.35em 1em;
    }
  }

  hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}
