.chatCard {
  .card-title {
    font-size: 2em;
    font-weight: bold;
  }

  .author {
    color: #ff5c00;
    font-weight: bold;
    font-size: 0.9em;
  }

  .message {
    font-size: 1.2em;
  }

  .time {
    font-size: 0.8em;
  }
  .form-control {
    margin-bottom: 1rem;
  }
  .divSendButton {
    display: flex;
    justify-content: flex-end;
    button {
      background-color: #ff5c00;
    }
  }
}
