@import "../../../sass/variables.scss";

.creatorCard {
  height: 100%;
  width: 25rem;
  margin-bottom: 1rem;
  font-family: $main-font;
  background-color: #2c2b39 !important;
  color: white;

  .card {
    height: 100%;
    width: 100%;
  }

  .card-body {
    display: flex;
    flex-direction: row;
  }

  .creatorInformation {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p {
      margin: 0;
      padding: 0;
    }
  }

  img {
    width: 50%;
    border-radius: 50%;
  }
}
