.navDiv {
  border-top: medium solid #ff0000;
  nav {
    border-top: thin solid #000000;
    border-right: thin solid #000000;
    border-left: thin solid #000000;
    background-color: #4c4c50;
  }
}

.actionButton {
  &.exit {
  }
  &.create {
  }
}
